<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campusmall.mall.mapper.ProductMapper">

    <resultMap id="ProductMap" type="com.campusmall.mall.entity.Product">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="imageUrl" column="image_url"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getById" resultMap="ProductMap">
        SELECT * FROM products WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="ProductMap">
        SELECT * FROM products
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO products(category_id, name, description, price, stock, image_url, status)
        VALUES(#{categoryId}, #{name}, #{description}, #{price}, #{stock}, #{imageUrl}, #{status})
    </insert>

    <update id="update">
        UPDATE products
        SET category_id=#{categoryId}, name=#{name}, description=#{description}, price=#{price},
            stock=#{stock}, image_url=#{imageUrl}, status=#{status}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM products WHERE id=#{id}
    </delete>

</mapper>
